<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef</title>
    <link rel="stylesheet" href="static/core/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shorcut icon" href="static/core/img/logo.png">
</head>
<body>

    <center>
        <div class="row">
            <div class="col" style="text-align: right;margin-right: 300px;">
                <a href="/" style="color: aliceblue; font-size: 20px;">   
                    <label>Cerrar sesion</label><span class="fa-stack fa-lg"><i class="fas fa-door-open"></i></span>     
                </a>
            </div>
            <div class="col">
                <h1 style="font-size: 70px;font-family: 'Times New Roman', Times, serif;">
                    Chef
                </h1>  
            </div>
        </div>
    </center>


    <hr>
    <center>
    <div class="container">
        <div class="row" style="margin-right: 25px;">
            <div class="col">
                <div class="card">
                    <figure>
                        <img src="static/core/img/Proveedores.png">
                    </figure>
                    <div class="contenido">
                        <h2>Mermas</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <a href="#">Ingresar</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <figure>
                            <img src="static/core/img/Documentos.jpg">
                        </figure>
                        <div class="contenido">
                            <h2>Materias primas</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        <a href="#">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <figure>
                        <img src="static/core/img/Boleta.jpg">
                    </figure>
                    <div class="contenido">
                        <h2>Digitalizar Inventario</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <a href="#">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <figure>
                        <img src="static/core/img/Inventario.jpg">
                    </figure>
                    <div class="contenido">
                        <h2>Registrar Inventario</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <a href="#">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
</html>