<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flammer´s Restaurant</title>

    <link rel="stylesheet" href="static/core/css/styles.css">
    <!-- Precargar CSS Boostrap locales-->
    <link rel="stylesheet" href="static/core/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shorcut icon" href="static/core/img/logo.png">
</head>
<body>
    <center>
        <div>
            <h1 style="font-size: 100px; margin-bottom: 1px;">Flammer´s Restaurant</h1>
         </div>
    </center>
    <hr>
    <center>
        <div>
            <form action="">
                <p style="font-size: 40px;">Ingrese su correo:</p>
                <input class="editado" id="correo" type="text" placeholder="usuario@cargo.cl">
            </form>
            <form action="">
                <p style="font-size: 40px;">Ingrese su contraseña:</p>
                <input class="editado" id="password" type="password" placeholder="******">
            </form>
        </div>
        <br>
        <div class="row">
            <button style="margin-right: 50px;" onclick="logIn()" class="botonCambiado">Ingresar</button>
            <button class="botonCambiado" type="reset">Cancelar</button>
        </div>
       
    </center>
    







    
    <!--Precargar JS Boostrap-->
    <script src="static/core/vendor/jquery/jquery.min.js"></script>
    <script src="static/core/vendor/bootstrap/js/popper.min.js"></script>
    <script src="static/core/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/core/js/javascript.js"></script>
</body>
<footer>

</footer>
</html>